
<h2>Eventos</h2>
<hr>

<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro</label>
  <input
  type="text"
  class="form-control mr-2"
  placeholder="buscar"
  [(ngModel)]="filtroLista"
  >
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th> <button class="btn btn-outline-light btn-sm" (click)="alterarImagem()">#{{showImg?"Ocultar":"Mostar"}}</button></th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opçoes</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventosFiltrados.length">
    <tr *ngFor="let evento of eventos">
   <td>
        <img [collapse]="!showImg" [isAnimated]="true" src="assets/{{evento.imagemURL}}"
         [style.width.px]="widthImg"
         [style.margin.px]="marginImg"
         >
    </td>
    <td>{{evento.eventoId}}</td>
    <td>{{evento.tema}}</td>
    <td>{{evento.local}}</td>
    <td>{{evento.dataEvento}}</td>
    <td>{{evento.qtdPessoas}}</td>
    <td>{{evento.lote}}</td>
    <td>
      <button type="button" class="btn btn-primary btn-sm mr-2">Editar</button>
      <button type="button" class="btn btn-danger btn-sm">Excluir</button>

    </td>
  </tr>
  </tbody>
</table>
<tfoot *ngIf="!eventos">
  <tr>
    <td colspan="8" class="text-center">
      <h4>Nehum evento encontrado!</h4>
    </td>
  </tr>
</tfoot>

{{eventos | json}}
